# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
env/
env.bak/

# Django
*.sqlite3
/media
/staticfiles
/logs
*.log
*.pot
*.pyc

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db

# Python package files
*.egg-info/
